/* PHASE 4: Posts */
.posts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.posts > .post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding: 20px 0;
}

.posts > .post > .post-body {
  width: 100%;
  margin: 0 0 0 20px;
}

.posts > .post > .post-body > h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.posts > .post > .post-body > p {
  margin-bottom: 20px;
  text-align: justify;
}


.posts > .post > .post-body > .post-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.posts > .post > .post-body > .post-footer > ul {
  display: flex;
}

.posts > .post > .post-body > .post-footer > ul:first-child {
  color: #999;
}

.posts > .post > .post-body > .post-footer > ul:first-child > li:not(:last-child):after {
  content: "·";
  padding: 0 5px 0 0;
}

.posts > .post > .post-body > .post-footer > ul:nth-child(2) > li {
  padding: 0 0 0 5px;
}
